body {
    background-image: url(http://www.abc.net.au/reslib/200911/r474518_2387634.jpg);
    background-size: cover;
}

.headFont{
    color: white;
    font-size: 75px;
}

.grainy {
    background-color: red;
}

.notGrainy {
    background-color: blue; 
}
