<table ng-table="inventoryCtrl.tableParams" class="table table-condensed table-bordered table-striped">
    <tr ng-repeat="inven in inventory">
        <td title="'שם'">
            {{inven.name}}</td>
        <td title="'כמות'">
            {{inven.amount}}</td>
        <td title="'מגורען'">
            <span ng-show="inven.grainy">מגורען</span>
            <span ng-hide="inven.grainy">לא מגורען</span></td>
        <td title="'סוג'">
            {{inven.type}}</td>
        <td ng-click="remove(this)"><button class="btn btn-danger">הסר</button></td>
    </tr>
</table>