<center>
    <form ng-submit="submit()" novalidate>
        <div class="form-group form-inline order">
                <br>
            <label>סוג מניפה : </label>
            <select class="form-control" ng-model="sprayKind">
                <option value="RAL">RAL</option>
                <option value="UN" >UN</option>
            </select>
            <label>גודל : </label>
            <select class="form-control" ng-model="spraySize">
                <option value='1'>ספריי</option>
                <option value="10" >פח</option>
                <option value="25" >גלון</option>
            </select>
            <label>כמות : </label>
            <input type="number" class="form-control" ng-model="sprayAmount" required>
            <label>שם : </label>
            <input type="text" class="form-control" ng-model="sprayName" required>
            <div class="checkbox">
                <label>
                    מגורען?
                    <input type="checkbox" ng-model="sprayGrainy">
                </label>
            </div>
            <select class="form-control" ng-model="sprayType">
                <option value="ונילי">ונילי</option>
                <option value="חד רכיבי">חד רכיבי</option>
                <option value="דו רכיבי">דו רכיבי</option>
            </select>
            <span style="background-color: white; border-style: solid; border-radius: 50%;"
                class="glyphicon glyphicon-plus"
                ng-click="addSprayToOrder(sprayKind, spraySize, sprayName, sprayAmount, sprayGrainy, sprayType)"></span>
            <br>
        </div>
        <div ng-show="isSubmit">
            <button ng-disabled="form.$invalid" class="btn btn-primary">שלח</button>
        </div>
    </form>
    <br>
    <table ng-table="sendingCtrl.tableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="ord in order track by $index">
            <td title="'סוג מניפה'">
                {{ord.kind}}</td>
            <td title="'שם'">
                <strong>{{ord.name}}</strong></td>
            <td title="'כמות'">
                {{ord.amount}}</td>
            <td title="'מגורען'">
                <span ng-show="ord.grainy">מגורען</span>
                <span ng-hide="ord.grainy">לא מגורען</span></td>
            <td title="'סוג'">
                {{ord.type}}</td>
            <td ng-click="remove(ord)"><button style="width: 100%;" class="btn btn-danger">הסר</button></td>
        </tr>
    </table>
</center>